{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <div class="l-box">
                <h4 class="content-subhead">Solicitacoes</h4>
            </div>
        </div>
    </div>
    {% for solicitacao in solicitacao_list %}
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <a href="{% url "solicitacoes:edit" solicitacao.id %}">{{ solicitacao.id }}</a>
                    <a href="{% url "solicitacoes:delete" solicitacao.id %}">delete</a>
                    {{ solicitacao.departamento |linebreaks }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}